<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPlayerManager" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/MessageService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="MessageService.IUserManager"
                name="NetTcpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="LAPTOP-LUFR1L2J\aavp0" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Server/PlayerManager/Services"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlayerManager"
                contract="PlayerManager.IPlayerManager" name="BasicHttpBinding_IPlayerManager" />
        </client>
    </system.serviceModel>
</configuration>